@page "/"

<PageTitle>Book Catalog</PageTitle>

@if(books is null)
{
    @* if books array is null show loading... *@
    <p><em>Loading...</em></p>

}else
{
    @* else show our table  *@
    <table class="table tabl-striped table-bordered table-hover mt-3">

        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th class="text-end">Price</th>
            <th>Release Date</th>
            <th></th>
        </thead>

        <tbody>
            @foreach(var book in books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    @* use tostring(C2) to format this as currency *@
                    <td class="text-end">@book.Price.ToString("C2")</td>
                    <td>@book.ReleaseDate</td>
                    <td></td>
                </tr>
            }
        </tbody>

    </table>
}

@code 
{
    private BooksClient booksClient = new();   

    private BookSummary[]? books;

    //override blazors OnInitialized method to initialize our books array with the data from our client
    protected override void OnInitialized()
    {
        books = booksClient.GetBooks();
    }

}
