@page "/"
@using Models

<PageTitle>Book Catalog</PageTitle>

<table>

    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>

    <tbody>
        @foreach(var book in books){
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Price</td>
                <td>@book.ReleaseDate</td>
                <td></td>
            </tr>
        }
    </tbody>

</table>

@code {
    private BookSummary[] books = 
    [
        new() {
            Id = 1,
            Name = "The Whispering Grove",
            Author = "Ella Dorsey",
            Genre = "Fantasy",
            Price = 15.99m,
            ReleaseDate = new DateOnly(2023, 3, 14)
        },
        new() {
            Id = 2,
            Name = "Shadows of Tomorrow",
            Author = "Mark Rivers",
            Genre = "Science Fiction",
            Price = 18.50m,
            ReleaseDate = new DateOnly(2023, 6, 22)
        },
        new() {
            Id =3,
            Name = "Echoes of the Past",
            Author = "Julia Harper",
            Genre = "Historical Fiction",
            Price = 12.75m,
            ReleaseDate = new DateOnly(2024, 1, 10)
        },
        new() {
            Id = 4,
            Name = "Mystery in the Mist",
            Author = "David Collins",
            Genre = "Mystery",
            Price = 14.25m,
            ReleaseDate = new DateOnly(2023, 11, 5)
        },
        new() {
            Id = 5,
            Name = "Waves of Change",
            Author = "Emily Clarke",
            Genre = "Romance",
            Price = 16.00m,
            ReleaseDate = new DateOnly(2024, 2, 20)
        }  
    ];
}
